.completed {
	text-decoration: line-through;
	color: grey;
}

.edit {
	display: none;
}

footer span {
	float: left;
}

footer ul {
	position: absolute;
	right: 136px;
    left: 128px;
}

footer li {
	display: inline;
}

footer button {
	float: right;
}